body {
  margin: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: Poppins;
}

.wrapper {
  margin: 1rem auto;
  width: 97%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0px 0px 40px 3px rgba(28, 28, 28, 0.46);
}

/* MAIN HEADER STYLING */

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem;
}

header img {
  width: 40rem;
  padding-right: 35%;
}

.menu-icon div {
  width: 45px;
  height: 8px;
  background-color: #999999;
  margin: 6px 0;
  border-radius: 0.5rem;
}

/* LAUNCHING SECTIONS STYLING */

.launching-1,
.launching-2 {
  display: flex;
  flex-direction: row;
  min-width: 900px;
  margin-left: 3.5rem;
}

.launching-1 .left,
.launching-2 .left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.launching-1 .right,
.launching-2 .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.launching-1 .right {
  justify-content: flex-start;
}

.launching-2 .right {
  justify-content: space-around;
  /* align-items: flex-end; */
}

.launching-1 img {
  margin-top: -55px;
  height: 130%;
}

.launching-2 img {
  height: 200%;
}

.launching-1 h1,
.launching-2 h1 {
  font-size: 600%;
  padding-right: 3rem;
}

.launching-1 h3,
.launching-2 h3 {
  padding-top: 3rem;
  color: #ff3998;
  font-size: xx-large;
}

.launching-1 a,
.launching-2 a {
  display: inline-block;
  padding-bottom: 3rem;
}

p {
  padding-right: 3rem;
  font-size: 2.5rem;
  font-weight: 300;
}

/* LAUNCHING BUTTON STYLING  */

.btn-sign-up:link,
.btn-sign-up:visited {
  color: #111111;
  text-decoration: none;
  text-align: justify;
  font-weight: bold;
  font-size: 2.5rem;
  display: inline-block;
  border: 5px solid #ff3998;
  border-radius: 100px;
  padding: 30px 70px;
}

/* UPSELL STYLING */

.upsell-top {
  background-image: url(assets/assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 6rem 2rem 3.5rem;
  margin: 8rem 0 1rem 0;
}

.upsell-bottom {
  padding: 2rem 3.5rem;
  margin: 1rem 0;
}

.upsell h3 {
  font-size: 4rem;
  font-weight: normal;
  padding-right: 1.5rem;
}

.upsell p {
  font-size: 2.5rem;
  padding-right: 2rem;
  font-weight: 300;
}

.upsell a {
  color: black;
}
