body {
  margin: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: Poppins;
}

.wrapper {
  margin: 1rem auto;
  width: 97%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0px 0px 40px 3px rgba(28, 28, 28, 0.46);
}

hr {
  margin: 10rem 0;
}

#hr-middle {
  margin: 0 -3.5rem;
}

/* MAIN HEADER STYLING */

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem;
}

header img {
  width: 40rem;
  padding-right: 35%;
}

.menu-icon div {
  width: 45px;
  height: 8px;
  background-color: #999999;
  margin: 6px 0;
  border-radius: 0.5rem;
}

/* LAUNCHING SECTIONS STYLING */

.launching-1,
.launching-2 {
  display: flex;
  flex-direction: row;
  min-width: 900px;
  margin-left: 3.5rem;
}

.launching-1 .left,
.launching-2 .left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.launching-1 .right,
.launching-2 .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.launching-1 .right {
  justify-content: flex-start;
}

.launching-2 .right {
  justify-content: space-around;
  /* align-items: flex-end; */
}

.launching-1 img {
  margin-top: -55px;
  padding-right: 5rem;
  height: 130%;
}

.launching-2 .left {
  margin-bottom: 8rem;
}

.green-lady-box {
  height: 100%;
  position: relative;
}

.green-lady-box img {
  position: absolute;
  height: 90%;
  bottom: 0;
  right: -15rem;
}

hr {
  margin: 10rem 3.5rem;
}

#hr-middle {
  display: none;
}

#hr-bottom {
  margin-top: 0;
}

.launching-1 h1,
.launching-2 h1 {
  font-size: 600%;
  padding-right: 3rem;
}

.launching-1 h3,
.launching-2 h3 {
  padding-top: 3rem;
  color: #ff3998;
  font-size: xx-large;
}

.launching-1 a,
.launching-2 a {
  display: inline-block;
  padding-bottom: 3rem;
}

p {
  padding-right: 3rem;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

/* SIGN-UP BUTTON STYLING  */

.button-border {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 308px;
  height: 138px;
  background: linear-gradient(to top right, #ee0e4c, #c9a553);
  border-radius: 6rem;
}

.button-content {
  width: 300px;
  height: 130px;
  background: white;
  border-radius: 6rem;
}

.button-content a {
  width: 100%;
}

.button-content a span p {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 2.05rem;
  color: #202020;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  line-height: initial;
}

/* UPSELL STYLING */

.upsell-top {
  background-image: url(assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 6rem 2rem 3.5rem;
  margin: 8rem 0 1rem 0;
}

.upsell-bottom {
  padding: 2rem 3.5rem;
  margin: 1rem 0;
}

.upsell h3 {
  font-size: 4rem;
  font-weight: normal;
  padding-right: 1.5rem;
}

.upsell p {
  font-size: 2.5rem;
  padding-right: 2rem;
  font-weight: 300;
}

.upsell a {
  color: black;
}

/* PRESS-CONTAINER STYLING */

.press-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5rem 3.5rem 5rem 3.5rem;
  justify-content: flex-end;
  align-items: center;
}

.press-item {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.press-item img {
  width: 80%;
  justify-self: center;
}

@media screen and (max-width: 1200px) {
  #open-door,
  .main-header-nav,
  .copyright-right {
    display: none;
  }
}

/* SCROLL-LINE STYLING  */

.scroll-line {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.scroll-line::-webkit-scrollbar {
  display: none;
}

figure {
  background-color: #eeeeee;
  border-radius: 1.5rem;
}

figure img {
  width: 22rem;
}

figure .column-2 img {
  width: 1rem;
  padding-right: 0.8rem;
}

.item-details {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: 0;
  height: 25%;
  width: 22rem;
  background-color: #eeeeee;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.item-details > * {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: #eeeeee;
}

.column-1,
.column-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5rem;
}

.column-1 > div,
.column-2 > div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.column-1 {
  align-items: flex-start;
  justify-content: space-between;
  height: 80%;
}

.column-2 {
  align-items: flex-end;
  justify-content: space-between;
  height: 80%;
}

.price-tag {
  display: flex;
  flex-direction: row;
}

.series-bid {
  color: #ff8139;
  font-size: 1.1rem;
}

.item-name-price {
  color: #111111;
  font-size: 1.2rem;
  font-weight: bold;
}

.article-number-day {
  color: #777777;
  font-size: 1rem;
}

/* FOOTER STYLING  */

.footer-wrapper {
  width: 100%;
}

.footer-left-side {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 3.5rem;
  /* padding-top: 15rem; */
}

.footer-left-side img {
  width: 50%;
}

.footer-left-nav {
  display: flex;
  flex-direction: row;
}

.footer-left-nav a img {
  display: inline-block;
  width: 3rem;
  padding-right: 1.5rem;
  opacity: 0.5;
}

.footer-right-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 3.5rem;
}

.footer-right-nav {
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  padding-right: 2rem;
}

.footer-right-nav a,
.footer-left-side p {
  color: #555555;
  font-size: 2.5rem;
  font-weight: 400;
  text-decoration: none;
  line-height: 5rem;
}

.footer-right-nav p {
  color: #555555;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
}

.copyright {
  color: #999999;
  padding: 3.5rem;
  font-size: 2.5rem;
}

/* FULL SCREEN STYLING  */

@media screen and (min-width: 1200px) {
  .launching-1 p,
  .launching-2 p,
  .upsell p {
    font-size: 1.5rem;
  }

  .launching-2 .left {
    margin-bottom: 8rem;
  }

  .green-lady-box {
    height: 100%;
    position: relative;
  }

  .green-lady-box img {
    position: absolute;
    height: 100%;
    right: -7rem;
  }

  hr {
    margin: 10rem 3.5rem;
  }

  #hr-middle {
    display: none;
  }

  #hr-bottom {
    margin-top: 0;
  }

  .upsell h3 {
    margin-bottom: 1rem;
  }

  .button-content a span p {
    margin-top: 2.9rem;
  }

  /* MAIN HEADER */

  .main-header {
    margin-bottom: 3rem;
  }

  .menu-icon {
    display: none;
  }

  .main-header-nav {
    display: flex;
  }

  header img,
  .footer-left-side img {
    width: 20rem;
    padding-right: 2rem;
  }

  .main-header-nav > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #555555;
    padding-left: 1rem;
  }

  .main-header-nav a:last-child {
    color: #ff3998;
  }

  .upsell-top {
    margin: 8rem 3.5rem 1rem 3.5rem;
    border-radius: 1rem;
  }

  /* PRESS CONTAINER */

  .press-container {
    flex-wrap: nowrap;
    width: 95%;
    justify-content: space-between;
  }

  .press-item {
    width: 18%;
    padding-right: 1rem;
  }

  #boom {
    order: 1;
  }

  #blimp {
    order: 2;
  }

  #qrco {
    order: 3;
  }

  #open-door {
    order: 4;
  }

  #droplet {
    order: 5;
  }

  /* DESKTOP FOOTER  */

  .footer-main-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .footer-left-side {
    width: fit-content;
    padding-right: 1rem;
  }

  .footer-left-side p,
  .footer-right-nav p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .footer-left-side img {
    width: 15rem;
  }

  .footer-left-nav a img {
    display: inline-block;
    width: 2rem;
    padding-right: 1rem;
    opacity: 0.5;
  }

  .footer-right-side {
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-right-nav {
    min-width: 10rem;
    padding-right: 1.5rem;
  }

  .footer-right-nav a,
  .footer-left-side p {
    color: #555555;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    line-height: 2.5rem;
  }

  .footer-right-nav p {
    color: #555555;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3.5rem;
  }

  .copyright {
    font-size: 1.5rem;
    padding: 0;
    margin-bottom: 1rem;
  }

  /* SCROLL-LINE */

  .scroll-line {
    justify-content: center;
    flex-grow: 1;
  }
}
